.live {
    background: #c7d3f63c;
    width: 100vw;
    padding-inline: 40px;
}

.live-bar {
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;

    .score {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            color: var(--dark-purple);
            font-size: 30px;
        }
    }
    
    .bar {
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 24px;
            height: 24px;
        }

        .girl {
            width: 30px;
            height: 30px;
        }
    }
}

/* class match, next-flex, perso, d1 */

.match {
    width: 650px;
    height: 200px;
    background-color: var(--branco);
    border-radius: 30px;

    .next-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 20px;

        h3 {
            color: var(--dark-purple);
            font-size: 20px;
        }

        .cale {
            display: flex;
            align-items: center;
            color: var(--gray);
            gap: 10px;

            p {
                font-size: 12px;
            }

            img {
                width: 15px;
                height: 15px;
            }
        }
    }

    .perso {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 53px;

        .d1 {
            display: flex;
            align-items: center;
            gap: 45px;

            h2 {
                font-size: 25px;
            }

            img {
                width: 80px;
            }

            .naomi {
                width: 85px;
                height: 100px;
                background: #FBC6D7;
                border-top-left-radius: 20px;
                border-top-right-radius: 6px;
                border-bottom-left-radius: 6px;
                border-bottom-right-radius: 20px;
            }
            .dita {
                width: 85px;
                height: 100px;
                background: #FFE7C2;
                border-top-left-radius: 6px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 6px;
            }
        }

        p {
            font-size: 40px;
            font-weight: bold;
            color: var(--dark-purple);
        }
    }
}

.statis {
    margin-block: 25px;
    color: var(--dark-purple);
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

/*  cards duplos  */

.duo-card {
    width: 650px;
    height: 300px;
    flex-shrink: 0;
    
    position: relative;
   
    

    .data {
    display: flex;
    align-items: flex-start;

    

        .aaa,
        .iii {
            flex: 1;
            /* height: 300px; */
        }

        .iii {
            position: relative;
            top: -24px;
            right: 27px;
        }
    }
}

.rank {
    margin-block: 25px 21px;
}