
@media (max-width: 1024px) {
    /* tablet */

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
        
    }

   
    .tenis {
        padding: 1rem 0;
        width: 100%;
        max-width: 1024px;
        height: auto ;
        max-height: 200px ;
        margin: 0 auto ;
        background: #c7d3f63c;
        display: flex;
        justify-content: center;

        .te {
        width: 128px;
        height: 38px;
        margin: 0;
    }
        
        
        .flex {
            display: none;
           
        }

        .card-tenis {
            display: none;
        }
    }

    .live {
        display: flex;
        flex-direction: column;

        .next {
            /* margin: 0 auto; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .div {
            display: flex;
            flex-direction: column;

            .anin {
                .profile {
                    width: 400px;
                    margin: 0 auto;
                }

                img {
                    width: 500px;
                    margin: 0 auto;
                }
            }
        }

    }

    .live-bar {
        padding-top: 1rem;
        width: 350px;
        margin: auto;

        .score {
            img {
                width: 20px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    /* mobile */

    .live {

        .live-bar {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .score {
                img {
                    display: none;
                }
            }
        }

        .div {
            .match {
                display: flex;
                flex-direction: column;
                
                width: 400px;
                height: 150px;

                .perso {
                    
                        h2 {
                            font-size: 1rem;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                        }
                }
            }

            .duo-card {
                display: flex;
                justify-content: center;
                width: 400px;
                left: 15px;
               
                
                .data {
                    

                    
                    .aaa {
                        position: relative;
                        top: 17px;
                        width: 200px;
                        height: 180px;
                    }

                    .iii {
                        
                        top: 1px;
                        right: -2px;
                        height: 230px;
                        width: 250px;
                    }
                }
                
            }

            .rank {
                font-size: 2rem;
            }

            .rankins {
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                img {
                    width: 200px;
                    height: 100px;
                }
            }

            .anin {
                .profile {
                    height: 400px;
                    width: 300px;
                    padding-bottom: 1rem;
                }

                img {
                    width: 300px;
                }
            }
        }

        
    }

}