.tenis {
    background: #ffffff;
    width: 100%;
    height: 900px;
    max-width: 300px;
    padding: 2rem;

    .te {
        width: 128px;
        height: 38px;
        margin-bottom: 60px;
    }
}

nav {
    display: flex;
    flex-direction: column;

    .flex {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 46px;

        p {
            color: var(--font-color);
            font-size: 1rem;
            font-family: var(--ff-dm);
            transition: 500ms;
            cursor: pointer;

            &:hover {
                color: var(--blue);
                font-weight: bold;
            }
        }
        

        img {
            width: 20px;
            height: 20px;
        }
    }

    .li {
        display: flex;
        align-items: center;
        gap: 10px;
        
        .on {
            width: 30px;  
            height: 15px;
        }
    }
}

.card-tenis {
    margin-top: 89px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #EBEEFF;
    border-radius: 12px;
    width: 250px;
    height: 293px;
    position: relative;

    .cadeado {
        width: 215px;
        height: 215px;
        position: relative;
        top: -48px;
    }
    
    p {
        color: var(--dark-blue);
        font-size: 1rem;
        text-align: center;
        font-size: var(--ff-plus);
        letter-spacing: 1px;
        position: relative;
        top: -40px;
        
        span {
            color: var(--blue);
            font-weight: bold;
        }
    }

    button {
        width: 230px;
        height: 54px;
        background-color: var(--blue);
        color: var(--white);
        border: none;
        
        border-radius: 20px;  
        padding: 18px 86px;

        position: relative;
         top: -20px;
         font-weight: 700;
         font-size: 1rem;
    }
}